table {
    border-collapse: collapse;
    page-break-inside: avoid; 
    border-bottom: dashed 1px #000000;
    font-size: 14px;
}

td {
    padding: 7px 5px;
}

th {
    text-align: left;
    padding: 7px 5px;
}

.product-values td {
    border: 1px solid;
    text-align: center;
}

.product-title {
    text-align: left;
}